{% load staticfiles %}
{% load thumbnail %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% clear_breadcrumbs %}
{% endblock %}

<!doctype html>
<html>
	
	{% block head %}
	<head>

	{% block head_meta_charset %}
	{% endblock head_meta_charset %}

	{% block head_meta_profile %}
	{% endblock head_meta_profile %}

	{% block head_title %}
	{% endblock head_title %}

	{% block head_links_css_bs %}
		<!-- Bootstrap Core CSS -->
		<link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
        <link href="{% static "css/bootstrap-theme.css" %}" rel="stylesheet">
        <link href="{% static "css/base/base.css" %}" rel="stylesheet">
	{% endblock head_links_css_bs %}

	{% block head_links_fonts %}
		<!-- Google Web Fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:
		                   300italic,400italic,700italic,400,300,700" rel="stylesheet" type="text/css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:
		                   300italic,400italic,600italic,700italic,800italic,400,
		                   300,600,700,800' rel='stylesheet' type='text/css'>
	{% endblock head_links_fonts %}

	{% block head_links_css_fs %}
	{% endblock head_links_css_fs %}

	{% block head_links_icons %}

	{% endblock head_links_icons %}

	{% block head_links_fav %}

	{% endblock head_links_fav %}

	</head>
	{% endblock head %}


	{% block body %}
	<body>

	{% block header %}
	<header>
        <div class="container">
            <div class="row">

                {% block header_logo %}

                    {% include 'blocks/header_logo/header_logo.html' %}

                {% endblock header_logo %}

                {% block header_cart %}

                    {% include 'blocks/header_cart/header_cart.html' %}

                {% endblock header_cart %}

                {% block header_phone %}

                    {% include 'blocks/header_phone/header_phone.html' %}

                {% endblock header_phone %}

            </div>
        </div>
    </header>
    {% endblock header %}

{#    {% block nav %}#}
{#    <nav>#}
{##}
{#    	{% block main_menu %}#}
{##}
{#            {% include "main_menu.html" %}#}
{##}
{#	    {% endblock main_menu %}#}
{##}
{#    </nav>#}
{#    {% endblock nav %}#}
{##}
{#	{% block main %}#}
{#    <main>#}
{##}
{#    </main>#}
{#	{% endblock main %}#}
{#	#}
{#	{% block footer %}#}
{#	<footer>#}
{#	</footer>#}
{#	<!-- Footer Section Ends -->#}
{#	{% endblock footer %}#}
{##}
{#	{% block js %}#}
{#		<script src="{% static "js/bootstrap.js" %}"></script>#}
{#	{% endblock js %}	#}

	</body>
	{% endblock body %}

</html>



