{% extends 'face/base/base.html' %}
{% load staticfiles %}
{% load thumbnail %}


{% block head_links_css_bs %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-theme.css" %}" rel="stylesheet">
    <link href="{% static "face/base/base.css" %}" rel="stylesheet">
{% endblock head_links_css_bs %}

{% block js %}
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/jquery.hoverIntent.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
{% endblock js %}

{% block head_links_css_fs %}
{% endblock head_links_css_fs %}

{% block head_links_icons %}

{% endblock head_links_icons %}

{% block head_links_fav %}

{% endblock head_links_fav %}



{% block header-cart %}

{#    {% include 'shop/blocks/cart/cart_menu_context.html' %}#}

{% endblock header-cart %}


{% block main %}

<div class="row">
    <div class="col-lg-9">
        <div class="custom-block-main-center">

            {% block main-center %}


            {% endblock main-center %}

            {% block main-center-storage %}


            {% endblock main-center-storage %}


        </div>
    </div>
    <div class="col-lg-3">
        <div class="custom-block-main-sidebar">

            {% block main-sidebar %}

                {% block main-sidebar-piece-first %}
                {% endblock main-sidebar-piece-first %}

                {% block main-sidebar-piece-second %}
                {% endblock main-sidebar-piece-second %}

                {% block main-sidebar-piece-third %}
                {% endblock main-sidebar-piece-third %}

                {% block main-sidebar-piece-fourth %}
                {% endblock main-sidebar-piece-fourth %}

            {% endblock main-sidebar %}

        </div>
    </div>
</div>

{% endblock main %}



