.main-catalog-center-wrapper .portfolio {
    position: relative;
    height: 330px;

    padding: 15px 15px 10px;
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #e8e8e8;
}

    .main-catalog-center-wrapper .portfolio .caption {
        padding: 18px 0;
        height: 60px;
    }

        .main-catalog-center-wrapper .portfolio .caption a {
            text-transform: uppercase;
            text-decoration: none;
            font-family: 'Roboto Condensed', Helvetica, Times New Roman, sans-serif;
            font-style: normal;
            font-variant: normal;
            font-size: 16px;
            color: #252a2f;
        }

    .main-catalog-center-wrapper .portfolio .description {
        padding: 5px 0;
        color: #8b8b8b;
        font-size: 12px;
        line-height: 18px;
        text-align: justify;
        height: 60px;
        display: block;
    }

        .main-catalog-center-wrapper .portfolio .price .price-new {
            color: #2f353b;
            font-size: 16px;
            font-weight: bolder;
            padding-right: 0;
        }

        .main-catalog-center-wrapper .portfolio .price .price-old {
            color: #808080;
            font-size: 14px;
            text-decoration: line-through;
        }

    .main-catalog-center-wrapper .portfolio .cart-button-group {
        padding-top: 5px;
        margin-left: -2px;
    }

    .main-catalog-center-wrapper .portfolio .btn-wishlist {
        border-radius: 0;
        color: #fff;
        background: #2f353b;
        margin: 0 2px;
    }

    .main-catalog-center-wrapper .portfolio .btn-compare {
        border-radius: 0;
        color: #fff;
        background: #2f353b;
        margin: 0 2px;
    }

    .main-catalog-center-wrapper .portfolio .btn-cart {
        border-radius: 0;
        color: #2f353b;
        background: #ffb400;
        margin: 0 2px;
        width: 56%;
    }

        .main-catalog-center-wrapper .portfolio button:hover {
            background: #2f353b;
            color: #fff;
        }

.main-catalog-center-wrapper .header {
    position: relative;
    height: 43px;

    padding: 10px 18px;;
    background: #fff;
    border: 1px solid #e8e8e8;

    text-transform:uppercase;

    -webkit-border-radius:0;
       -moz-border-radius:0;
            border-radius:0;
}


	.main-catalog-center-wrapper .breadcrumb{
		text-transform:uppercase;
		padding:10px 18px;
		border:1px solid #e8e8e8;
		background:#fff;
		-webkit-border-radius:0;
		   -moz-border-radius:0;
				border-radius:0;
	}
		.main-catalog-center-wrapper .breadcrumb li{
			color:#878a8c;
			font-size:13px;
		}
		.main-catalog-center-wrapper .breadcrumb > li + li:before{
			content:"\00BB";
			color:#878a8c;
		}
		.main-catalog-center-wrapper .breadcrumb li a{
			color:#252a2f;
		}


    .main-catalog-center-wrapper .category-desc .desc-header {
        font-size: 24px;
        text-transform:uppercase;
    }

        .main-catalog-center-wrapper .category-desc .desc-header .image {
            border-radius: 0;
        }

        .main-catalog-center-wrapper .category-desc .desc-header .text {
            color: #8b8b8b;
            font-size: 13px;
            padding-left: 5px;
            text-align: justify;
        }
