{% load staticfiles %}
{% load thumbnail %}

<div class="main-catalog-menu-wrapper">
    <div class="menu-head">
        <h3 class="header">
            <i class="fa fa-caret-down"></i>
            &nbsp; Каталог
        </h3>
        <div class="menu-root-list list-group">
            {% for cat in root_category_s %}
            <a href={% url 'catalog:product_list' cat.slug_title %} class="list-group-item">
                <i class="fa fa-chevron-right"></i>
                {{ cat.title | truncatechars:30 }}
            </a>
            {% endfor %}
        </div>
    </div>

    <div class="menu-current-list">
        <div class="list-group">
            <a href={% url 'catalog:product_list' parent_category.slug_title %} class="list-group-item
                {% if parent_category.selected %}
                    selected
                {% endif %}
            ">
            <i class="sidebar-cat fa fa-chevron-down"></i>
                {{ parent_category.title }}
            </a>
            {% for cat in children_category_s %}
                <a href={% url 'catalog:product_list' cat.slug_title %} class="list-group-item
                    {% if cat.selected %}
                        selected
                    {% endif %}
                ">
                <i class="sidebar-subcat fa fa-chevron-right"></i>
                    {{ cat.title | truncatechars:27 }}
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="storage">
    </div>
</div>