{% extends 'papers/base/base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load django_bootstrap_breadcrumbs %}


{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}


{% block main %}
    {% include 'papers/blocks/portfolio/category_list_center.html' %}
    <style media="screen" type="text/css">
        @import "{% static "papers/blocks/portfolio/css/category_list_center.css" %}";
    </style>
    <script src="{% static "papers/blocks/portfolio/js/category_list_center.js" %}">
    </script>
{% endblock main %}
