{% load staticfiles %}
{% load thumbnail %}
{% load django_bootstrap_breadcrumbs %}


{% block breadcrumbs %}
    {% clear_breadcrumbs %}
    {% breadcrumb labels.general_label dispatcher.general %}
    {% breadcrumb labels.app_label dispatcher.category_list %}
{% endblock %}


<div class="main-catalog-center-wrapper">

    {% block content %}
        {% render_breadcrumbs %}
    {% endblock %}

    {% for row in root_category_s %}
    <div class="row">
        {% for category in row %}
        <div class="col-lg-3">
            <div class="category">
                <div class="image">
                    <div class="image">
                        {% thumbnail category.image "250x250" crop="center" as image %}
                            <img src="{% static image.url %}" alt={{ category.preview }}
                                    class="img-thumbnail" />
                        {% endthumbnail %}
                    </div>
                </div>
                <div class="caption">
                    <a href="{% url dispatcher.chunk_list category.slug_title %}">
                        {{ category.title | truncatechars:80 }}
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    {% endfor %}
</div>
