{% load staticfiles %}
{% load thumbnail %}
{% load django_bootstrap_breadcrumbs %}


{% block breadcrumbs %}
    {% clear_breadcrumbs %}
    {% breadcrumb "Главная" 'main_page' %}
{#    {% breadcrumb "Каталог" 'portfolio:category_list' %}#}
{#    {% breadcrumb current_category.title 'portfolio:portfolio_list' current_category.slug_title %}#}
{% endblock %}


<div class="main-catalog-center-wrapper">

    {% block content %}
        {% render_breadcrumbs %}
    {% endblock %}

{#    <div class="row">#}
{#        <div class="col-lg-12">#}
{#            <div class="category-desc">#}
{##}
{#                <h2 class="desc-header">#}
{#                    {{ current_category.title }}#}
{#                </h2>#}
{##}
{#                <div class="desc-main">#}
{#                    <div class="row">#}
{#                        <div class="col-lg-3">#}
{#                            <div class="image">#}
{#                                {% thumbnail current_category.image "178x178" crop="center" as image %}#}
{#                                    <img src="{% static image.url %}" alt={{ current_category.preview }} class="img-thumbnail" />#}
{#                                {% endthumbnail %}#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-lg-9">#}
{#                            <div class="text">#}
{#                                {% autoescape off %}#}
{#                                    {{ current_category.preview | default_if_none:"" | linebreaks }}#}
{#                                {% endautoescape %}#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    {% for row in portfolio_s %}
    <div class="row">
        {% for portfolio in row %}
        <div class="col-lg-4">
            <div class="portfolio">
                <div class="image">
                    <div class="image">
                        {% thumbnail portfolio.image "250x250" crop="center" as image %}
                        <img src="{% static image.url %}" alt={{ portfolio.preview }}
                                class="img-thumbnail" />
                        {% endthumbnail %}
                    </div>
                </div>
                <div class="caption">
                    <a href="{% url 'portfolio:portfolio_inside' portfolio.slug_title %}">
                        {{ portfolio.title | truncatechars:80 }}
                    </a>
                </div>
                <div class="description">
{#                    <p>Брэнд: {{ product.brand  | truncatechars:20 }}</p>#}
{#                    <p>Артикул: {{ product.code  | truncatechars:20 }}</p>#}
                </div>
                <div class="price">
{#                    <span class="price-new">{{ product.price }} р.</span>#}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>