{% extends 'papers/base/base.html' %}
{% load staticfiles %}
{% load thumbnail %}


{% block main-center %}
    {% include 'papers/blocks/sample/sample_list_center.html' %}
    <style media="screen" type="text/css">
        @import "{% static "papers/blocks/sample/css/sample_list_center.css" %}";
    </style>
{% endblock main-center %}


{% block main-sidebar-piece-first %}
    {% include 'papers/blocks/sample/sample_list_menu.html' %}
    <style media="screen" type="text/css">
        @import "{% static "papers/blocks/sample/css/sample_list_menu.css" %}";
    </style>
{% endblock main-sidebar-piece-first %}
