{% load staticfiles %}
{% load thumbnail %}

<div class="main-catalog-menu-wrapper">
    <div class="menu-head">
        <h3 class="header">
            <i class="fa fa-caret-down"></i>
            &nbsp; Каталог
        </h3>
    </div>

    <div class="menu-current-list">
        <div class="list-group">
            {% for cat in category_s %}
            <a href={% url 'portfolio:product_list' cat.slug_title %}
                    class="list-group-item
                {% if cat.selected %}
                    selected
                {% endif %}
            ">
            <i class="sidebar-cat fa fa-chevron-right"></i>
                {{ cat.title | truncatechars:27 }}
            </a>
            {% endfor %}
        </div>
    </div>
</div>