{% load staticfiles %}
{% load thumbnail %}
{% load django_bootstrap_breadcrumbs %}


{% block breadcrumbs %}
{#    {{ block.super }}#}
    {% breadcrumb "Главная" 'main_page' %}
    {% breadcrumb "Портфолио" 'portfolio.views.category_list' %}
    {% breadcrumb current_category.name 'portfolio_list' current_category.slug_title %}
{% endblock %}


<div class="main-catalog-center-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="portfolio-info">
                <h2 class="">
                    {{ portfolio.title }}
                </h2>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="image">
                            <div class="wm-zoom-container image-zoom">
                                <div class="wm-zoom-box">
                                    {% thumbnail portfolio.image_current "250x300" crop="center" as image %}
                                    {% thumbnail portfolio.image_current "1000x1000" crop="center" as image_big %}
                                        <img src="{{ image.url }}" class="wm-zoom-default-img" alt="alternative text"
                                             data-hight-src="{{ image_big.url }}" data-loader-src="url-image-loader-here">
                                    {% endthumbnail %}
                                    {% endthumbnail %}
                                </div>
                            </div>

                            <ul class="list-unstyled list-inline">
                                {% for attach_image in portfolio.attach_images %}
                                <li>
                                    {% thumbnail attach_image.image "100x100" crop="center" as image %}
                                    {% thumbnail attach_image.image "300x300" crop="center" as image_big %}
                                    {% thumbnail attach_image.image "1000x1000" crop="center" as image_zoom %}
                                    <img src="{{ image.url }}" data-image-big="{{ image_big.url }}"
                                         data-image-zoom="{{ image_zoom.url }}" alt="Image" class="img-responsive thumbnail" />
                                    {% endthumbnail %}
                                    {% endthumbnail %}
                                    {% endthumbnail %}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="content-panel">
                            <h2 class="">
                                {{ portfolio.title }}
                            </h2>
                            <hr/>
                            <div class="manufacturer">
                                <ul class="list-unstyled">
                                    <li><span>Брэнд:</span>&nbsp;{{ portfolio.brand }}</li>
                                    <li><span>Артикул:</span>&nbsp;{{ portfolio.code }}</li>
                                </ul>
                            </div>
                            <hr />
                            <div class="details">
                                <ul class="list-unstyled">
                                {% for param in portfolio.params_other %}
                                    <li><span>{{ param.name }}:</span>&nbsp;{{ param.value }}</li>
                                {% endfor %}
                                </ul>
                            </div>
                            <hr />
{#                            <div class="pack">#}
{#                                <ul class="list-unstyled">#}
{#                                {% for param in portfolio.params_pack %}#}
{#                                    <li><span>{{ param.name }}:</span>&nbsp;{{ param.value }}</li>#}
{#                                {% endfor %}#}
{#                                </ul>#}
{#                            </div>#}
                            {% if subportfolio_s %}
                            <div class="model-table">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Модель</th>
                                            <th>Цена(шт.)</th>
                                            <th>На складе</th>
                                            <th>Тираж</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for subportfolio in subportfolio_s %}
                                        <tr class="portfolio-item" data-portfolio-type={{ subportfolio.get_model_name }}
                                                data-id={{ subportfolio.pk }}>
                                            <td>{{ subportfolio.model_name }}</td>
                                            <td>{{ subportfolio.price }}</td>
                                            <td>{{ subportfolio.stock }}</td>
                                            <td><input name="stock" type="number" value="0"></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% else %}
                            <div class="model-table">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Цена(шт.)</th>
                                            <th>На складе</th>
                                            <th>Тираж</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="portfolio-item" data-portfolio-type={{ portfolio.get_model_name }}
                                                data-id={{ portfolio.pk }}>
                                            <td>{{ portfolio.price }}</td>
                                            <td>{{ portfolio.stock }}</td>
                                            <td><input name="stock" type="number" value="1"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            {% endif %}
                            <hr />
                            {% if subportfolio_s %}
                            <div class="price">
                                <span class="price-head">Цена (всего):</span>
                                <span class="price-new"><span>0.00</span>&nbsp;р.</span>
                            </div>
                            <hr/>
                            {% else %}
                            <div class="price">
                                <span class="price-head">Цена (всего) :</span>
                                <span class="price-new"><span>{{ portfolio.price }}</span>&nbsp;р.</span>
                            </div>
                            <hr/>
                            {% endif %}
                            <div class="button-panel">
                                <a type="button" class="btn btn-cart cart-add" href="">
                                    Добавить в корзину
                                    <i class="fa fa-shopping-cart"></i>
                                </a>

                                <a type="button" class="btn btn-cart cart-move" href="{% url 'cart:list' %}">
                                    Перейти в корзину
                                    <i class="fa fa-shopping-cart"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="tabs-panel panel-smart">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab-desc">Описание товара</a></li>
                                <li><a href="#tab-pack">Об упаковке</a></li>
                                <li><a href="#tab-brand">О бренде</a></li>
                                <li><a href="#tab-print">О нанесении</a></li>
                                <li><a href="#tab-review">Отзывы</a></li>
                            </ul>
                            <div class="tab-content clearfix">
                                <div class="tab-pane active" id="tab-desc">
                                    {{ tovar.content | safe }}
                                </div>
                                <div class="tab-pane" id="tab-pack">
                                    <p><span>Характеристики упаковки товара:</span></p>
                                    <div>
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td>Количество в упаковке, шт.</td>
                                                    <td>{{ tovar.pack_current.amount }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Вес упаковки, г.</td>
                                                    <td>{{ tovar.pack_current.weight }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Объем упаковки, см3</td>
                                                    <td>{{ tovar.pack_current.volume }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Длина, см</td>
                                                    <td>{{ tovar.pack_current.sizex }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Ширина, см</td>
                                                    <td>{{ tovar.pack_current.sizey }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Высота, см</td>
                                                    <td>{{ tovar.pack_current.sizez }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-brand">
                                </div>
                                <div class="tab-pane" id="tab-print">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="storage"></div>

</div>